{% macro displaynewsList(sources_results) %}

    {% for news in sources_results %}
    <div class="container-fluid">
        <div class="card-columns">
            <div class="card">
                <div class="card-header">
            
                <h4><a href="/news/{{news.id}}" style="text-decoration: none;color: aqua;">
                    {{ news.name}}</a></h4>
                </div>
                <div class="card-body">
                    <p>{{news.description}}</p>
                </div>     
            </div>
        </div>
    </div>

    {% endfor %}

{% endmacro %}